$dark-green: #34bf49;
$light-green: #41cb56;
$dark-blue: #1673ce;
$light-blue: #3089f4;
$bright-blue: #0099e5;
$brightest-blue: #00aaff;
$white: #f7f8fa;
$off-white: #eeeff2;
$light-gray: rgb(100, 100, 100);
$medium-gray: rgb(68, 68, 68);
$dark-gray: rgb(34, 34, 34);
$errors-red: rgb(220, 33, 27);