@import 'colors.scss';

.index-loading-pane {
    height: calc(90vh - 63px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-loading-icon {
    height: 128px;
    width: 128px;
    background-image: asset-url('loading.svg');
    background-size: cover;
}

.photos-index-pane h1 {
    box-sizing: border-box;
    margin: 0px 30px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(215, 216, 219);
    font-size: 24px;
    font-weight: 500;
    color: #222222;
}

.all-photos-index-container {
    position: relative;
    width: 100vw;
}

#all-photos-carousel {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

#all-photos-carousel ul {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 10px 80px;
}

.scroll-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 160px;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px, rgba(0, 0, 0, 0.08) 0px 0px 2px;
    border-radius: 100%;
    font-size: 20px;
    cursor: pointer;
}

#scroll-left {
    left: 20px;
}

#scroll-right {
    right: 20px;
}

.followed-photos-index-container {
    margin: 10px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    grid-template-rows: repeat(auto-fit, 352px);
    justify-items: center;
    align-items: center;
}

.photo-index-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(215, 216, 219);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 0px rgba(60,64,67,.16);
}

.photo-index-item img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.photo-item-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: linear-gradient(90deg, white, #cac7c7, white);
    background-size: 400% 400%;

    -webkit-animation: LoadingAnimation 1.5s ease-in infinite;
    -moz-animation: LoadingAnimation 1.5s ease-in infinite;
    animation: LoadingAnimation 1.5s ease-in infinite;

    @-webkit-keyframes LoadingAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes LoadingAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes LoadingAnimation { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.photo-index-bottom {
    background-color: white;
    height: 80px;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.photo-index-bottom > div {
    margin: 0px 5px;
}

.photo-over-title {
    display: flex;
    align-items: center;
}

.like-container {
    margin: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.like-container div {
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
}

.like-button {
    height: 20px;
    width: 20px;
    background-image: asset-url('like.png');
    transition: background-image 0.2s;
    background-size: cover;
    cursor: pointer;
}

.like-button:hover {
    background-image: asset-url('like-hover.png')
}

.liked-button {
    height: 20px;
    width: 20px;
    background-image: asset-url('liked.png');
    transition: background-image 0.2s;
    background-size: cover;
    cursor: pointer;
}

.comment-container {
    display: flex;
    align-items: center;
}

.comment-container div {
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
}

.comment-button {
    height: 20px;
    width: 20px;
    background-image: asset-url('comment.png');
    background-size: cover;
    cursor: pointer;
}

.photo-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.photo-under-title {
    display: flex;
    flex-direction: row;
}

.photo-under-title div {
    margin: 0px 4px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.photo-under-title .photo-author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.follow-button {
    color: $dark-blue;
    cursor: pointer;
    transition: color 0.2s;
}

.follow-button:hover {
    color: $light-blue;
}