@import 'colors.scss';


.photos-index-pane h1 {
    box-sizing: border-box;
    margin: 0px 30px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(215, 216, 219);
    font-size: 24px;
    font-weight: 500;
    color: #222222;
}

.all-photos-index-container {
    display: flex;
    width: 100vw;
    overflow-x: scroll;
}

.all-photos-index-container ul {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 10px;
}

.followed-photos-index-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.photo-index-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(215, 216, 219);
    border-radius: 8px;
    overflow: hidden;
}

.photo-index-item img {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.photo-index-bottom {
    background-color: white;
    height: 60px;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.photo-index-bottom > div {
    margin: 0px 5px;
}

.photo-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.photo-under-title {
    display: flex;
    flex-direction: row;
}

.photo-under-title div {
    margin: 0px 4px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.photo-under-title .photo-author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.follow-button {
    color: $dark-blue;
    cursor: pointer;
    transition: color 0.2s;
}

.follow-button:hover {
    color: $light-blue;
}